.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.swiper-button-next {
  right: -3px;
}
.swiper-button-prev {
  left: -3px;
}
.swiper-pagination {
  background-color: white;
  padding: 10px;
}
